Data/R/rainfall_kriging.tif
Data/R/r_factor.tif
.ipynb_checkpoints/RUSLE Notebook-checkpoint.ipynb
Data/K/k_factor.tif
Data/K/permeability.tif
Data/K/structure.tif
Data/K/STU_EU_S_OC.RDC
Data/K/STU_EU_S_OC.tif
Data/K/STU_EU_T_CLAY.RDC
Data/K/STU_EU_T_CLAY.tif
Data/K/STU_EU_T_SAND.RDC
Data/K/STU_EU_T_SILT.RDC
Data/K/STU_EU_T_SAND.tif
Data/K/STU_EU_T_SILT.tif
Data/R/r_factor_clipped.tif
Data/R/rainfall_gstools.tif
Data/K/STU_EU_S_OC.rst
Data/K/STU_EU_T_CLAY.rst
Data/K/STU_EU_T_SAND.rst
Data/K/STU_EU_T_SILT.rst
Data/K/textureUSDA_eu23.tif
Data/R/r_factor_NI_3035.tif
Data/R/r_factor_NI_4326.tif
Data/R/r_factor_NI_epsg27700.tif
Data/R/r_factor_raw_hadukgrid_uk.tif
Data/R/r_factor_raw_hadukgrid_uk_27700.tif
Data/R/r_factor_raw_hadukgrid_uk_4326.tif
Data/R/rainfall_raw_hadukgrid_uk.tif
Data/R/rainfall_hadukgrid_uk_1km_ann_202301-202312.nc
Data/R/rainfall_hadukgrid_uk_1km_ann_202101-202112.nc
Data/LS/ni_dtm_metre.tfw
Data/LS/ni_dtm_metre.tif
Data/LS/ni_dtm_metre.tif.aux.xml
Data/LS/ni_dtm_metre.tif.ovr
Data/LS/OSNI_OpenData_50m_DTM.csv
flow_acc.tif
Data/LS/slope_ang.tif
Data/LS/ni_dtm_filled.tif
Data/LS/LS.tif
